<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <error-page>
        <exception-type>404</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>QuotationAddProduct</servlet-name>
        <servlet-class>s3453.QuotationAddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaxSettting</servlet-name>
        <servlet-class>s3453.TaxSettting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceTermAndCondition</servlet-name>
        <servlet-class>s3453.InvoiceTermAndCondition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>leadstatuschange</servlet-name>
        <servlet-class>s3453.leadstatuschange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contactformsubmit</servlet-name>
        <servlet-class>simulator.contactformsubmit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>s3453.upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusinessFormSubmit</servlet-name>
        <servlet-class>s3453.BusinessDetailSubmit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProformaAddProduct</servlet-name>
        <url-pattern>/ProformaAddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuotationAddProduct</servlet-name>
        <url-pattern>/QuotationAddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaxSettting</servlet-name>
        <url-pattern>/TaxSettting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceTermAndCondition</servlet-name>
        <url-pattern>/InvoiceTermAndCondition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>leadstatuschange</servlet-name>
        <url-pattern>/leadstatuschange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contactformsubmit</servlet-name>
        <url-pattern>/contactformsubmit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusinessFormSubmit</servlet-name>
        <url-pattern>/BusinessFormSubmit</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>-1</session-timeout>
    </session-config>
    <servlet>
        <servlet-name>POAddProduct</servlet-name>
        <servlet-class>s3453.POAddProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>POAddProduct</servlet-name>
        <url-pattern>/POAddProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConvertToCustomer</servlet-name>
        <servlet-class>s3453.ConvertToCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProformaAddProduct</servlet-name>
        <servlet-class>s3453.ProformaAddProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConvertToCustomer</servlet-name>
        <url-pattern>/ConvertToCustomer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EmployeeAccessSubmit</servlet-name>
        <servlet-class>s3453.EmployeeAccessSubmit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeeAccessSubmit</servlet-name>
        <url-pattern>/YmnhaDw</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EmailSending</servlet-name>
        <servlet-class>EmailSending</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmailSending</servlet-name>
        <url-pattern>/EmailSending</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>host</param-name>
        <param-value>mail.indsac.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>hostcfm</param-name>
        <param-value>imap.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>portcfm</param-name>
        <param-value>995</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>no_reply@indsac.com</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>polo9070321</param-value>
    </context-param>
</web-app>
